# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


*.ignore.*
*.ignore

/.obsidian/workspace.json
/.obsidian/workspace-mobile.json
/.obsidian/graph.json
