.mypy_cache

__pycache__

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Jupyter
.ipynb_checkpoints

*.ignore.*
*.ignore

node_modules

/temp